# This is the first attempt at a submission
The results of this notebook produced a 700 row long file which was not accepted for submission. The contest is expecting a 9066 row long file which uses the more verbose alphanumeric cell_id format found in the submission_format.csv file

In [1]:
import pandas as pd
import datetime

In [2]:
historic_data = pd.read_csv('all_days_training.csv')
sample_submission = pd.read_csv('submission_format.csv')

In [3]:
#first day is 2013-01-01
# last day is 2019-12-31
first = datetime.date.fromisoformat('2013-01-01')
last = datetime.date.fromisoformat('2019-12-31')

In [4]:
historic_data.head()

,Unnamed: 0,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
0,CDEC:ADM,5.90,5.900000,5.900000,5.900000,5.900000,5.900000,5.900000,5.90,5.985714,...,3.614286,3.657143,3.70,3.657143,3.614286,3.571429,3.528571,3.485714,3.442857,3.40
1,CDEC:AGP,17.52,17.522857,17.525714,17.528571,17.531429,17.534286,17.537143,17.54,17.584286,...,0.200000,0.200000,0.20,0.200000,0.200000,0.200000,0.200000,0.200000,0.200000,0.20
2,CDEC:ALP,12.75,12.831429,12.912857,12.994286,13.075714,13.157143,13.238571,13.32,13.454286,...,12.118571,12.394286,12.67,12.655714,12.641429,12.627143,12.612857,12.598571,12.584286,12.57
3,CDEC:BCB,4.30,4.317143,4.334286,4.351429,4.368571,4.385714,4.402857,4.42,4.448571,...,81.220000,81.220000,81.22,81.220000,81.220000,81.220000,81.220000,81.220000,81.220000,81.22
4,CDEC:BCH,2.88,2.897143,2.914286,2.931429,2.948571,2.965714,2.982857,3.00,3.068571,...,4.937143,4.988571,5.04,5.177143,5.314286,5.451429,5.588571,5.725714,5.862857,6.00

In [5]:
sample_submission.head()

,cell_id,2020-01-07,2020-01-14,2020-01-21,2020-01-28,2020-02-04,2020-02-11,2020-02-18,2020-02-25,2020-03-03,...,2021-04-27,2021-05-04,2021-05-11,2021-05-18,2021-05-25,2021-06-01,2021-06-08,2021-06-15,2021-06-22,2021-06-29
0,000863e7-21e6-477d-b799-f5675c348627,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000ba8d9-d6d5-48da-84a2-1fa54951fae1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00146204-d4e9-4cd8-8f86-d1ef133c5b6d,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00211c19-7ea8-4f21-a2de-1d6216186a96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00226e82-e747-4f03-9c5d-3eef8ebe515e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
avg_submission = historic_data[['Unnamed: 0']].rename(columns={'Unnamed: 0': 'cell_id'})

In [7]:
year_range = list(range(2013,2020))

In [8]:
for val in sample_submission.columns[1:]:
#     print(val[5:])
#     2013 to 2019 avgs
    avg = historic_data[[ '2013-'+val[5:] ]].squeeze()
    for year in year_range[1:]:
        colname = str(year) + '-' + val[5:]
        avg = avg + historic_data[[colname]].squeeze()
    avg = avg / 7
    avg_submission[[val]] = avg

In [12]:
avg_submission.set_index('cell_id', inplace=True)
avg_submission.head()

,2020-01-07,2020-01-14,2020-01-21,2020-01-28,2020-02-04,2020-02-11,2020-02-18,2020-02-25,2020-03-03,2020-03-10,...,2021-04-27,2021-05-04,2021-05-11,2021-05-18,2021-05-25,2021-06-01,2021-06-08,2021-06-15,2021-06-22,2021-06-29
cell_id,,,,,,,,,,,,,,,,,,,,,
CDEC:ADM,4.859184,5.542857,6.587755,7.304082,7.846939,8.406122,8.889796,9.751020,10.036735,10.493878,...,2.312245,0.878912,0.027211,0.008163,0.002041,0.005612,0.009184,0.025000,0.018367,0.030723
CDEC:AGP,9.400286,11.215273,12.692302,14.014024,14.738196,15.735020,16.434906,16.940914,18.175510,18.989478,...,10.238898,4.463273,3.177853,1.705086,0.795176,0.537918,0.540865,0.528914,0.509616,0.456915
CDEC:ALP,9.544898,11.366122,14.182653,15.224082,16.665510,19.112653,20.426531,21.982857,23.905918,25.401429,...,18.717755,15.286735,11.716939,8.738980,7.383469,4.953878,2.141429,0.685714,0.110000,0.162094
CDEC:BCB,36.297509,38.469052,40.471615,41.394178,41.020822,43.367551,45.043265,46.267755,48.101837,49.419592,...,45.806837,44.678980,43.396939,40.999796,39.740948,39.071458,37.281630,37.313451,37.432163,37.589697
CDEC:BCH,2.326531,3.071020,4.613878,5.642449,6.724898,7.851429,8.373061,8.360816,7.954286,7.721633,...,0.323265,0.247347,0.257143,0.262041,0.315918,0.284082,0.222857,0.173878,0.188571,0.206566

In [13]:
avg_submission.to_csv('first_submission.csv')