In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly

# Submission format

In [3]:
submission_df = pd.read_csv('submission_format.csv')
submission_df.describe()

,2020-01-07,2020-01-14,2020-01-21,2020-01-28,2020-02-04,2020-02-11,2020-02-18,2020-02-25,2020-03-03,2020-03-10,...,2021-04-27,2021-05-04,2021-05-11,2021-05-18,2021-05-25,2021-06-01,2021-06-08,2021-06-15,2021-06-22,2021-06-29
count,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,...,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Features format

it looks like each row is a zone and the individual cell values are the amount of snow at a given time (as opposed to accumulated snow)

[see for interpolation time series stuff](https://towardsdatascience.com/how-to-interpolate-time-series-data-in-apache-spark-and-python-pandas-part-1-pandas-cff54d76a2ea)

In [2]:
train_features_df = pd.read_csv('ground_measures_train_features.csv')
train_features_df.describe()

,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,2013-03-05,...,2019-05-28,2019-06-04,2019-06-11,2019-06-18,2019-06-25,2019-12-03,2019-12-10,2019-12-17,2019-12-24,2019-12-31
count,667.000000,668.000000,668.000000,664.000000,665.000000,666.000000,667.000000,666.000000,666.000000,666.000000,...,681.000000,677.000000,672.000000,663.000000,657.000000,683.000000,682.000000,684.000000,683.000000,682.000000
mean,8.976747,9.329266,9.999880,10.032003,11.085489,11.682733,12.174243,12.486577,13.514535,13.890195,...,9.578517,7.052733,4.246830,2.032745,1.202283,3.686501,4.521642,5.619035,6.161157,6.609545
std,7.276225,7.625781,7.991542,7.971700,8.458361,8.748183,9.000648,9.230543,10.008752,10.363779,...,13.406936,11.982165,9.580669,6.679331,4.976390,2.160489,2.882675,3.314926,3.644228,3.711411
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.050000,4.175000,4.575000,4.600000,5.500000,5.900000,6.350000,6.600000,7.100000,7.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.500000,3.300000,3.700000,4.000000
50%,6.500000,6.800000,7.500000,7.530000,8.500000,9.250000,9.720000,9.965000,10.600000,11.000000,...,1.500000,0.000000,0.000000,0.000000,0.000000,3.400000,4.100000,5.100000,5.500000,6.000000
75%,11.700000,12.000000,12.525000,12.525000,13.800000,14.745000,15.200000,15.600000,16.800000,17.300000,...,17.200000,11.400000,2.650000,0.000000,0.000000,5.100000,6.195000,7.400000,8.000000,8.600000
max,48.400000,55.500000,61.500000,62.200000,67.500000,70.100000,72.900000,77.000000,83.300000,88.600000,...,89.760000,87.720000,80.160000,67.700000,58.000000,10.700000,14.270000,17.500000,23.700000,25.000000

In [3]:
train_features_df.head(10)

,Unnamed: 0,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,...,2019-05-28,2019-06-04,2019-06-11,2019-06-18,2019-06-25,2019-12-03,2019-12-10,2019-12-17,2019-12-24,2019-12-31
0,CDEC:ADM,5.90,5.90,6.50,6.50,7.40,7.60,7.40,8.00,8.00,...,NaN,NaN,NaN,NaN,NaN,0.70,1.20,3.40,3.70,3.40
1,CDEC:AGP,17.52,17.54,17.85,17.39,18.03,17.70,17.65,16.66,17.21,...,NaN,NaN,NaN,NaN,NaN,0.00,0.60,0.20,NaN,NaN
2,CDEC:ALP,12.75,13.32,14.26,14.02,13.39,13.25,14.30,13.95,15.73,...,29.52,20.81,8.71,0.30,0.00,5.69,8.04,10.74,12.67,12.57
3,CDEC:BCB,4.30,4.42,4.62,4.53,4.67,4.90,4.90,5.06,5.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CDEC:BCH,2.88,3.00,3.48,3.84,3.96,4.44,5.40,5.16,3.60,...,0.84,0.60,0.36,0.36,0.24,2.88,4.56,4.68,5.04,6.00
5,CDEC:BFL,6.60,7.92,8.76,9.00,10.44,10.80,11.16,11.28,12.00,...,0.27,0.15,0.27,0.39,0.27,3.00,3.36,4.56,5.04,5.64
6,CDEC:BGP,7.20,7.28,7.79,7.80,8.35,8.12,8.21,8.28,8.22,...,26.05,19.07,7.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CDEC:BIM,19.32,19.32,20.16,20.28,20.52,20.16,21.12,21.12,21.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CDEC:BKL,16.56,17.04,18.72,19.20,19.08,20.16,21.72,22.32,24.36,...,6.36,0.96,NaN,NaN,NaN,6.72,5.88,6.12,10.56,11.64
9,CDEC:BLA,4.92,5.64,7.32,7.56,8.28,9.60,8.52,8.52,8.16,...,2.04,1.08,1.08,1.08,0.96,0.00,0.12,0.72,0.36,0.48

In [ ]:
# train_features_df.columns[0:31]
# train_features_df.columns[31:61]
# train_features_df.columns[61:92]
# train_features_df.columns[92:122]
# train_features_df.columns[122:152]
# train_features_df.columns[152:182]
# train_features_df.columns[182:213]

# Resampling (interpolating)

In [6]:
# train_features_df.iloc[:,1:32]#.resample('D', axis=1).mean()

In [9]:
date_labels = train_features_df.columns.values[1:]
for i, date in enumerate(date_labels):
#     date_labels[i] = pd.to_datetime(date, format='%Y%b%d')
    date_labels[i] = pd.to_datetime(date)
train_features_df.columns.values[1:] = date_labels

In [17]:
train_features_df.set_index('Unnamed: 0', inplace=True)

In [20]:
train_features_df.iloc[:,0:31]
# had to shift the last index since `unnamed: 0` is no longer a column

,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,2013-03-05,...,2013-06-04,2013-06-11,2013-06-18,2013-06-25,2013-12-03,2013-12-10,2013-12-17,2013-12-24,2013-12-31,2014-01-07
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
CDEC:ADM,5.90,5.90,6.50,6.50,7.40,7.60,7.40,8.00,8.00,8.00,...,0.00,0.00,0.00,0.00,0.00,0.20,0.40,0.50,0.50,0.50
CDEC:AGP,17.52,17.54,17.85,17.39,18.03,17.70,17.65,16.66,17.21,16.26,...,0.35,0.42,0.13,0.01,1.72,4.16,3.99,3.88,5.70,6.44
CDEC:ALP,12.75,13.32,14.26,14.02,13.39,13.25,14.30,13.95,15.73,15.41,...,0.23,0.11,0.06,0.63,1.14,3.18,3.17,3.12,3.09,3.03
CDEC:BCB,4.30,4.42,4.62,4.53,4.67,4.90,4.90,5.06,5.11,5.23,...,5.40,5.78,5.67,5.75,10.49,13.04,13.10,12.82,13.83,14.29
CDEC:BCH,2.88,3.00,3.48,3.84,3.96,4.44,5.40,5.16,3.60,1.80,...,0.12,0.12,0.00,0.00,0.00,0.00,0.96,0.36,0.36,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SNOTEL:989_ID_SNTL,9.00,10.20,10.90,11.10,12.80,14.10,14.40,14.60,17.60,18.40,...,0.00,0.00,0.00,0.00,2.30,3.20,3.60,4.80,4.60,4.90
SNOTEL:990_WA_SNTL,27.50,29.10,31.50,31.90,33.40,33.90,35.40,36.50,38.80,39.60,...,22.10,13.40,3.80,0.00,4.50,4.50,4.30,5.50,5.90,6.60
SNOTEL:992_UT_SNTL,4.10,4.10,4.40,4.50,4.80,5.10,5.20,5.30,6.10,6.60,...,0.00,0.00,0.00,0.00,1.40,2.00,2.20,2.80,2.80,3.00
SNOTEL:998_WA_SNTL,48.40,55.50,61.50,62.20,67.50,70.10,72.90,77.00,83.30,88.60,...,92.60,79.60,71.10,59.80,NaN,NaN,NaN,NaN,NaN,NaN
SNOTEL:999_WA_SNTL,33.10,37.50,40.80,42.50,47.50,51.00,53.90,56.40,64.50,65.90,...,37.00,26.60,17.20,7.40,5.60,5.60,6.10,8.50,8.00,10.70

In [84]:
# train_features_df = train_features_df.iloc[:,1:32]

In [22]:
train_features_df.iloc[:,0:31].T.head()

Unnamed: 0,CDEC:ADM,CDEC:AGP,CDEC:ALP,CDEC:BCB,CDEC:BCH,CDEC:BFL,CDEC:BGP,CDEC:BIM,CDEC:BKL,CDEC:BLA,...,SNOTEL:978_ID_SNTL,SNOTEL:981_MT_SNTL,SNOTEL:982_WY_SNTL,SNOTEL:984_WA_SNTL,SNOTEL:988_ID_SNTL,SNOTEL:989_ID_SNTL,SNOTEL:990_WA_SNTL,SNOTEL:992_UT_SNTL,SNOTEL:998_WA_SNTL,SNOTEL:999_WA_SNTL
2013-01-01 00:00:00,5.9,17.52,12.75,4.30,2.88,6.60,7.20,19.32,16.56,4.92,...,6.0,1.1,1.0,3.9,19.2,9.0,27.5,4.1,48.4,33.1
2013-01-08 00:00:00,5.9,17.54,13.32,4.42,3.00,7.92,7.28,19.32,17.04,5.64,...,6.6,1.2,1.6,4.3,20.0,10.2,29.1,4.1,55.5,37.5
2013-01-15 00:00:00,6.5,17.85,14.26,4.62,3.48,8.76,7.79,20.16,18.72,7.32,...,7.7,1.8,1.5,5.1,21.7,10.9,31.5,4.4,61.5,40.8
2013-01-22 00:00:00,6.5,17.39,14.02,4.53,3.84,9.00,7.80,20.28,19.20,7.56,...,8.0,1.9,2.0,5.1,21.9,11.1,31.9,4.5,62.2,42.5
2013-01-29 00:00:00,7.4,18.03,13.39,4.67,3.96,10.44,8.35,20.52,19.08,8.28,...,9.7,2.3,2.1,6.4,23.5,12.8,33.4,4.8,67.5,47.5

In [26]:
train_features_df = train_features_df.T
train_features_df.index = pd.to_datetime(train_features_df.index)

In [27]:
train_features_df = train_features_df.resample('D').mean()
train_features_df
# populating the table for every day

Unnamed: 0,CDEC:ADM,CDEC:AGP,CDEC:ALP,CDEC:BCB,CDEC:BCH,CDEC:BFL,CDEC:BGP,CDEC:BIM,CDEC:BKL,CDEC:BLA,...,SNOTEL:978_ID_SNTL,SNOTEL:981_MT_SNTL,SNOTEL:982_WY_SNTL,SNOTEL:984_WA_SNTL,SNOTEL:988_ID_SNTL,SNOTEL:989_ID_SNTL,SNOTEL:990_WA_SNTL,SNOTEL:992_UT_SNTL,SNOTEL:998_WA_SNTL,SNOTEL:999_WA_SNTL
2013-01-01,5.9,17.52,12.75,4.3,2.88,6.60,7.2,19.32,16.56,4.92,...,6.0,1.1,1.0,3.9,19.2,9.0,27.5,4.1,48.4,33.1
2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-12-31,3.4,NaN,12.57,NaN,6.00,5.64,NaN,NaN,11.64,0.48,...,5.4,1.7,2.4,2.3,14.3,3.0,8.6,3.8,25.0,9.4

In [28]:
train_features_df = train_features_df.interpolate()
train_features_df
# interpolating

Unnamed: 0,CDEC:ADM,CDEC:AGP,CDEC:ALP,CDEC:BCB,CDEC:BCH,CDEC:BFL,CDEC:BGP,CDEC:BIM,CDEC:BKL,CDEC:BLA,...,SNOTEL:978_ID_SNTL,SNOTEL:981_MT_SNTL,SNOTEL:982_WY_SNTL,SNOTEL:984_WA_SNTL,SNOTEL:988_ID_SNTL,SNOTEL:989_ID_SNTL,SNOTEL:990_WA_SNTL,SNOTEL:992_UT_SNTL,SNOTEL:998_WA_SNTL,SNOTEL:999_WA_SNTL
2013-01-01,5.900000,17.520000,12.750000,4.300000,2.880000,6.600000,7.200000,19.32,16.560000,4.920000,...,6.000000,1.100000,1.000000,3.900000,19.200000,9.000000,27.500000,4.100000,48.400000,33.100000
2013-01-02,5.900000,17.522857,12.831429,4.317143,2.897143,6.788571,7.211429,19.32,16.628571,5.022857,...,6.085714,1.114286,1.085714,3.957143,19.314286,9.171429,27.728571,4.100000,49.414286,33.728571
2013-01-03,5.900000,17.525714,12.912857,4.334286,2.914286,6.977143,7.222857,19.32,16.697143,5.125714,...,6.171429,1.128571,1.171429,4.014286,19.428571,9.342857,27.957143,4.100000,50.428571,34.357143
2013-01-04,5.900000,17.528571,12.994286,4.351429,2.931429,7.165714,7.234286,19.32,16.765714,5.228571,...,6.257143,1.142857,1.257143,4.071429,19.542857,9.514286,28.185714,4.100000,51.442857,34.985714
2013-01-05,5.900000,17.531429,13.075714,4.368571,2.948571,7.354286,7.245714,19.32,16.834286,5.331429,...,6.342857,1.157143,1.342857,4.128571,19.657143,9.685714,28.414286,4.100000,52.457143,35.614286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,3.571429,0.200000,12.627143,81.220000,5.451429,5.297143,7.330000,21.24,11.022857,0.411429,...,5.171429,1.642857,2.457143,2.300000,14.414286,2.885714,8.657143,3.685714,24.257143,8.828571
2019-12-28,3.528571,0.200000,12.612857,81.220000,5.588571,5.382857,7.330000,21.24,11.177143,0.428571,...,5.228571,1.657143,2.442857,2.300000,14.385714,2.914286,8.642857,3.714286,24.442857,8.971429
2019-12-29,3.485714,0.200000,12.598571,81.220000,5.725714,5.468571,7.330000,21.24,11.331429,0.445714,...,5.285714,1.671429,2.428571,2.300000,14.357143,2.942857,8.628571,3.742857,24.628571,9.114286
2019-12-30,3.442857,0.200000,12.584286,81.220000,5.862857,5.554286,7.330000,21.24,11.485714,0.462857,...,5.342857,1.685714,2.414286,2.300000,14.328571,2.971429,8.614286,3.771429,24.814286,9.257143
2019-12-31,3.400000,0.200000,12.570000,81.220000,6.000000,5.640000,7.330000,21.24,11.640000,0.480000,...,5.400000,1.700000,2.400000,2.300000,14.300000,3.000000,8.600000,3.800000,25.000000,9.400000

In [29]:
train_features_df = train_features_df.T

In [31]:
train_features_df

,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
CDEC:ADM,5.90,5.900000,5.900000,5.900000,5.900000,5.900000,5.900000,5.90,5.985714,6.071429,...,3.614286,3.657143,3.70,3.657143,3.614286,3.571429,3.528571,3.485714,3.442857,3.40
CDEC:AGP,17.52,17.522857,17.525714,17.528571,17.531429,17.534286,17.537143,17.54,17.584286,17.628571,...,0.200000,0.200000,0.20,0.200000,0.200000,0.200000,0.200000,0.200000,0.200000,0.20
CDEC:ALP,12.75,12.831429,12.912857,12.994286,13.075714,13.157143,13.238571,13.32,13.454286,13.588571,...,12.118571,12.394286,12.67,12.655714,12.641429,12.627143,12.612857,12.598571,12.584286,12.57
CDEC:BCB,4.30,4.317143,4.334286,4.351429,4.368571,4.385714,4.402857,4.42,4.448571,4.477143,...,81.220000,81.220000,81.22,81.220000,81.220000,81.220000,81.220000,81.220000,81.220000,81.22
CDEC:BCH,2.88,2.897143,2.914286,2.931429,2.948571,2.965714,2.982857,3.00,3.068571,3.137143,...,4.937143,4.988571,5.04,5.177143,5.314286,5.451429,5.588571,5.725714,5.862857,6.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SNOTEL:989_ID_SNTL,9.00,9.171429,9.342857,9.514286,9.685714,9.857143,10.028571,10.20,10.300000,10.400000,...,2.457143,2.628571,2.80,2.828571,2.857143,2.885714,2.914286,2.942857,2.971429,3.00
SNOTEL:990_WA_SNTL,27.50,27.728571,27.957143,28.185714,28.414286,28.642857,28.871429,29.10,29.442857,29.785714,...,6.871429,7.785714,8.70,8.685714,8.671429,8.657143,8.642857,8.628571,8.614286,8.60
SNOTEL:992_UT_SNTL,4.10,4.100000,4.100000,4.100000,4.100000,4.100000,4.100000,4.10,4.142857,4.185714,...,3.571429,3.585714,3.60,3.628571,3.657143,3.685714,3.714286,3.742857,3.771429,3.80
SNOTEL:998_WA_SNTL,48.40,49.414286,50.428571,51.442857,52.457143,53.471429,54.485714,55.50,56.357143,57.214286,...,20.700000,22.200000,23.70,23.885714,24.071429,24.257143,24.442857,24.628571,24.814286,25.00
SNOTEL:999_WA_SNTL,33.10,33.728571,34.357143,34.985714,35.614286,36.242857,36.871429,37.50,37.971429,38.442857,...,7.000000,7.700000,8.40,8.542857,8.685714,8.828571,8.971429,9.114286,9.257143,9.40

In [ ]:
# train_features_df.columns[0:31]
# train_features_df.columns[31:61]
# train_features_df.columns[61:92]
# train_features_df.columns[92:122]
# train_features_df.columns[122:152]
# train_features_df.columns[152:182]
# train_features_df.columns[182:213]
## ^^ these are the original indices, it's now going to be 365/366 for the date range per yr ##