In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly

# Submission format

In [3]:
submission_df = pd.read_csv('submission_format.csv')
submission_df.describe()

,2020-01-07,2020-01-14,2020-01-21,2020-01-28,2020-02-04,2020-02-11,2020-02-18,2020-02-25,2020-03-03,2020-03-10,...,2021-04-27,2021-05-04,2021-05-11,2021-05-18,2021-05-25,2021-06-01,2021-06-08,2021-06-15,2021-06-22,2021-06-29
count,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,...,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0,9066.0
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Features format

it looks like each row is a zone and the individual cell values are the amount of snow at a given time (as opposed to accumulated snow)

[see for interpolation time series stuff](https://towardsdatascience.com/how-to-interpolate-time-series-data-in-apache-spark-and-python-pandas-part-1-pandas-cff54d76a2ea)

In [5]:
train_features_df = pd.read_csv('ground_measures_train_features.csv')
train_features_df.describe()

,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,2013-03-05,...,2019-05-28,2019-06-04,2019-06-11,2019-06-18,2019-06-25,2019-12-03,2019-12-10,2019-12-17,2019-12-24,2019-12-31
count,667.000000,668.000000,668.000000,664.000000,665.000000,666.000000,667.000000,666.000000,666.000000,666.000000,...,681.000000,677.000000,672.000000,663.000000,657.000000,683.000000,682.000000,684.000000,683.000000,682.000000
mean,8.976747,9.329266,9.999880,10.032003,11.085489,11.682733,12.174243,12.486577,13.514535,13.890195,...,9.578517,7.052733,4.246830,2.032745,1.202283,3.686501,4.521642,5.619035,6.161157,6.609545
std,7.276225,7.625781,7.991542,7.971700,8.458361,8.748183,9.000648,9.230543,10.008752,10.363779,...,13.406936,11.982165,9.580669,6.679331,4.976390,2.160489,2.882675,3.314926,3.644228,3.711411
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.050000,4.175000,4.575000,4.600000,5.500000,5.900000,6.350000,6.600000,7.100000,7.300000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.500000,3.300000,3.700000,4.000000
50%,6.500000,6.800000,7.500000,7.530000,8.500000,9.250000,9.720000,9.965000,10.600000,11.000000,...,1.500000,0.000000,0.000000,0.000000,0.000000,3.400000,4.100000,5.100000,5.500000,6.000000
75%,11.700000,12.000000,12.525000,12.525000,13.800000,14.745000,15.200000,15.600000,16.800000,17.300000,...,17.200000,11.400000,2.650000,0.000000,0.000000,5.100000,6.195000,7.400000,8.000000,8.600000
max,48.400000,55.500000,61.500000,62.200000,67.500000,70.100000,72.900000,77.000000,83.300000,88.600000,...,89.760000,87.720000,80.160000,67.700000,58.000000,10.700000,14.270000,17.500000,23.700000,25.000000

In [7]:
train_features_df.head(10)

,Unnamed: 0,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,...,2019-05-28,2019-06-04,2019-06-11,2019-06-18,2019-06-25,2019-12-03,2019-12-10,2019-12-17,2019-12-24,2019-12-31
0,CDEC:ADM,5.90,5.90,6.50,6.50,7.40,7.60,7.40,8.00,8.00,...,NaN,NaN,NaN,NaN,NaN,0.70,1.20,3.40,3.70,3.40
1,CDEC:AGP,17.52,17.54,17.85,17.39,18.03,17.70,17.65,16.66,17.21,...,NaN,NaN,NaN,NaN,NaN,0.00,0.60,0.20,NaN,NaN
2,CDEC:ALP,12.75,13.32,14.26,14.02,13.39,13.25,14.30,13.95,15.73,...,29.52,20.81,8.71,0.30,0.00,5.69,8.04,10.74,12.67,12.57
3,CDEC:BCB,4.30,4.42,4.62,4.53,4.67,4.90,4.90,5.06,5.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CDEC:BCH,2.88,3.00,3.48,3.84,3.96,4.44,5.40,5.16,3.60,...,0.84,0.60,0.36,0.36,0.24,2.88,4.56,4.68,5.04,6.00
5,CDEC:BFL,6.60,7.92,8.76,9.00,10.44,10.80,11.16,11.28,12.00,...,0.27,0.15,0.27,0.39,0.27,3.00,3.36,4.56,5.04,5.64
6,CDEC:BGP,7.20,7.28,7.79,7.80,8.35,8.12,8.21,8.28,8.22,...,26.05,19.07,7.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,CDEC:BIM,19.32,19.32,20.16,20.28,20.52,20.16,21.12,21.12,21.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,CDEC:BKL,16.56,17.04,18.72,19.20,19.08,20.16,21.72,22.32,24.36,...,6.36,0.96,NaN,NaN,NaN,6.72,5.88,6.12,10.56,11.64
9,CDEC:BLA,4.92,5.64,7.32,7.56,8.28,9.60,8.52,8.52,8.16,...,2.04,1.08,1.08,1.08,0.96,0.00,0.12,0.72,0.36,0.48

In [26]:
train_features_df.columns[1:32]

Index(['2013-01-01', '2013-01-08', '2013-01-15', '2013-01-22', '2013-01-29',
       '2013-02-05', '2013-02-12', '2013-02-19', '2013-02-26', '2013-03-05',
       '2013-03-12', '2013-03-19', '2013-03-26', '2013-04-02', '2013-04-09',
       '2013-04-16', '2013-04-23', '2013-04-30', '2013-05-07', '2013-05-14',
       '2013-05-21', '2013-05-28', '2013-06-04', '2013-06-11', '2013-06-18',
       '2013-06-25', '2013-12-03', '2013-12-10', '2013-12-17', '2013-12-24',
       '2013-12-31'],
      dtype='object')

In [27]:
train_features_df.columns[32:62]

Index(['2014-01-07', '2014-01-14', '2014-01-21', '2014-01-28', '2014-02-04',
       '2014-02-11', '2014-02-18', '2014-02-25', '2014-03-04', '2014-03-11',
       '2014-03-18', '2014-03-25', '2014-04-01', '2014-04-08', '2014-04-15',
       '2014-04-22', '2014-04-29', '2014-05-06', '2014-05-13', '2014-05-20',
       '2014-05-27', '2014-06-03', '2014-06-10', '2014-06-17', '2014-06-24',
       '2014-12-02', '2014-12-09', '2014-12-16', '2014-12-23', '2014-12-30'],
      dtype='object')

In [30]:
train_features_df.columns[62:93]

Index(['2015-01-06', '2015-01-13', '2015-01-20', '2015-01-27', '2015-02-03',
       '2015-02-10', '2015-02-17', '2015-02-24', '2015-03-03', '2015-03-10',
       '2015-03-17', '2015-03-24', '2015-03-31', '2015-04-07', '2015-04-14',
       '2015-04-21', '2015-04-28', '2015-05-05', '2015-05-12', '2015-05-19',
       '2015-05-26', '2015-06-02', '2015-06-09', '2015-06-16', '2015-06-23',
       '2015-06-30', '2015-12-01', '2015-12-08', '2015-12-15', '2015-12-22',
       '2015-12-29'],
      dtype='object')

In [33]:
train_features_df.columns[93:123]

Index(['2016-01-05', '2016-01-12', '2016-01-19', '2016-01-26', '2016-02-02',
       '2016-02-09', '2016-02-16', '2016-02-23', '2016-03-01', '2016-03-08',
       '2016-03-15', '2016-03-22', '2016-03-29', '2016-04-05', '2016-04-12',
       '2016-04-19', '2016-04-26', '2016-05-03', '2016-05-10', '2016-05-17',
       '2016-05-24', '2016-05-31', '2016-06-07', '2016-06-14', '2016-06-21',
       '2016-06-28', '2016-12-06', '2016-12-13', '2016-12-20', '2016-12-27'],
      dtype='object')

In [36]:
train_features_df.columns[123:153]

Index(['2017-01-03', '2017-01-10', '2017-01-17', '2017-01-24', '2017-01-31',
       '2017-02-07', '2017-02-14', '2017-02-21', '2017-02-28', '2017-03-07',
       '2017-03-14', '2017-03-21', '2017-03-28', '2017-04-04', '2017-04-11',
       '2017-04-18', '2017-04-25', '2017-05-02', '2017-05-09', '2017-05-16',
       '2017-05-23', '2017-05-30', '2017-06-06', '2017-06-13', '2017-06-20',
       '2017-06-27', '2017-12-05', '2017-12-12', '2017-12-19', '2017-12-26'],
      dtype='object')

In [39]:
train_features_df.columns[153:183]

Index(['2018-01-02', '2018-01-09', '2018-01-16', '2018-01-23', '2018-01-30',
       '2018-02-06', '2018-02-13', '2018-02-20', '2018-02-27', '2018-03-06',
       '2018-03-13', '2018-03-20', '2018-03-27', '2018-04-03', '2018-04-10',
       '2018-04-17', '2018-04-24', '2018-05-01', '2018-05-08', '2018-05-15',
       '2018-05-22', '2018-05-29', '2018-06-05', '2018-06-12', '2018-06-19',
       '2018-06-26', '2018-12-04', '2018-12-11', '2018-12-18', '2018-12-25'],
      dtype='object')

In [43]:
train_features_df.columns[183:214]

Index(['2019-01-01', '2019-01-08', '2019-01-15', '2019-01-22', '2019-01-29',
       '2019-02-05', '2019-02-12', '2019-02-19', '2019-02-26', '2019-03-05',
       '2019-03-12', '2019-03-19', '2019-03-26', '2019-04-02', '2019-04-09',
       '2019-04-16', '2019-04-23', '2019-04-30', '2019-05-07', '2019-05-14',
       '2019-05-21', '2019-05-28', '2019-06-04', '2019-06-11', '2019-06-18',
       '2019-06-25', '2019-12-03', '2019-12-10', '2019-12-17', '2019-12-24',
       '2019-12-31'],
      dtype='object')

# Resampling (interpolating)

In [46]:
train_features_df.columns[1:32].resample('D', axis=1).mean()

AttributeError: 'Index' object has no attribute 'resample'

In [49]:
train_features_df.iloc[:,1:32]#.resample('D', axis=1).mean()

,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,2013-03-05,...,2013-05-28,2013-06-04,2013-06-11,2013-06-18,2013-06-25,2013-12-03,2013-12-10,2013-12-17,2013-12-24,2013-12-31
0,5.90,5.90,6.50,6.50,7.40,7.60,7.40,8.00,8.00,8.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.20,0.40,0.50,0.50
1,17.52,17.54,17.85,17.39,18.03,17.70,17.65,16.66,17.21,16.26,...,0.67,0.35,0.42,0.13,0.01,1.72,4.16,3.99,3.88,5.70
2,12.75,13.32,14.26,14.02,13.39,13.25,14.30,13.95,15.73,15.41,...,0.64,0.23,0.11,0.06,0.63,1.14,3.18,3.17,3.12,3.09
3,4.30,4.42,4.62,4.53,4.67,4.90,4.90,5.06,5.11,5.23,...,5.46,5.40,5.78,5.67,5.75,10.49,13.04,13.10,12.82,13.83
4,2.88,3.00,3.48,3.84,3.96,4.44,5.40,5.16,3.60,1.80,...,0.00,0.12,0.12,0.00,0.00,0.00,0.00,0.96,0.36,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,9.00,10.20,10.90,11.10,12.80,14.10,14.40,14.60,17.60,18.40,...,0.00,0.00,0.00,0.00,0.00,2.30,3.20,3.60,4.80,4.60
696,27.50,29.10,31.50,31.90,33.40,33.90,35.40,36.50,38.80,39.60,...,27.60,22.10,13.40,3.80,0.00,4.50,4.50,4.30,5.50,5.90
697,4.10,4.10,4.40,4.50,4.80,5.10,5.20,5.30,6.10,6.60,...,0.00,0.00,0.00,0.00,0.00,1.40,2.00,2.20,2.80,2.80
698,48.40,55.50,61.50,62.20,67.50,70.10,72.90,77.00,83.30,88.60,...,97.90,92.60,79.60,71.10,59.80,NaN,NaN,NaN,NaN,NaN
699,33.10,37.50,40.80,42.50,47.50,51.00,53.90,56.40,64.50,65.90,...,44.40,37.00,26.60,17.20,7.40,5.60,5.60,6.10,8.50,8.00

In [77]:
date_labels = train_features_df.columns.values[1:]
for i, date in enumerate(date_labels):
    date_labels[i] = pd.to_datetime(date, format='%d%b%Y')
train_features_df.columns.values[1:] = date_labels

In [80]:
train_features_df.iloc[:,1:32]

,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,2013-03-05,...,2013-05-28,2013-06-04,2013-06-11,2013-06-18,2013-06-25,2013-12-03,2013-12-10,2013-12-17,2013-12-24,2013-12-31
0,5.90,5.90,6.50,6.50,7.40,7.60,7.40,8.00,8.00,8.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.20,0.40,0.50,0.50
1,17.52,17.54,17.85,17.39,18.03,17.70,17.65,16.66,17.21,16.26,...,0.67,0.35,0.42,0.13,0.01,1.72,4.16,3.99,3.88,5.70
2,12.75,13.32,14.26,14.02,13.39,13.25,14.30,13.95,15.73,15.41,...,0.64,0.23,0.11,0.06,0.63,1.14,3.18,3.17,3.12,3.09
3,4.30,4.42,4.62,4.53,4.67,4.90,4.90,5.06,5.11,5.23,...,5.46,5.40,5.78,5.67,5.75,10.49,13.04,13.10,12.82,13.83
4,2.88,3.00,3.48,3.84,3.96,4.44,5.40,5.16,3.60,1.80,...,0.00,0.12,0.12,0.00,0.00,0.00,0.00,0.96,0.36,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,9.00,10.20,10.90,11.10,12.80,14.10,14.40,14.60,17.60,18.40,...,0.00,0.00,0.00,0.00,0.00,2.30,3.20,3.60,4.80,4.60
696,27.50,29.10,31.50,31.90,33.40,33.90,35.40,36.50,38.80,39.60,...,27.60,22.10,13.40,3.80,0.00,4.50,4.50,4.30,5.50,5.90
697,4.10,4.10,4.40,4.50,4.80,5.10,5.20,5.30,6.10,6.60,...,0.00,0.00,0.00,0.00,0.00,1.40,2.00,2.20,2.80,2.80
698,48.40,55.50,61.50,62.20,67.50,70.10,72.90,77.00,83.30,88.60,...,97.90,92.60,79.60,71.10,59.80,NaN,NaN,NaN,NaN,NaN
699,33.10,37.50,40.80,42.50,47.50,51.00,53.90,56.40,64.50,65.90,...,44.40,37.00,26.60,17.20,7.40,5.60,5.60,6.10,8.50,8.00

In [84]:
train_features_df = train_features_df.iloc[:,1:32]

In [88]:
date_labels = train_features_df.columns.values
for i, date in enumerate(date_labels):
    print(type(date))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [89]:
train_features_df.head(5)

,2013-01-01,2013-01-08,2013-01-15,2013-01-22,2013-01-29,2013-02-05,2013-02-12,2013-02-19,2013-02-26,2013-03-05,...,2013-05-28,2013-06-04,2013-06-11,2013-06-18,2013-06-25,2013-12-03,2013-12-10,2013-12-17,2013-12-24,2013-12-31
0,5.90,5.90,6.50,6.50,7.40,7.60,7.40,8.00,8.00,8.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.20,0.40,0.50,0.50
1,17.52,17.54,17.85,17.39,18.03,17.70,17.65,16.66,17.21,16.26,...,0.67,0.35,0.42,0.13,0.01,1.72,4.16,3.99,3.88,5.70
2,12.75,13.32,14.26,14.02,13.39,13.25,14.30,13.95,15.73,15.41,...,0.64,0.23,0.11,0.06,0.63,1.14,3.18,3.17,3.12,3.09
3,4.30,4.42,4.62,4.53,4.67,4.90,4.90,5.06,5.11,5.23,...,5.46,5.40,5.78,5.67,5.75,10.49,13.04,13.10,12.82,13.83
4,2.88,3.00,3.48,3.84,3.96,4.44,5.40,5.16,3.60,1.80,...,0.00,0.12,0.12,0.00,0.00,0.00,0.00,0.96,0.36,0.36

In [95]:
train_features_df = train_features_df.T
train_features_df.index = pd.to_datetime(train_features_df.index)

In [98]:
train_features_df = train_features_df.resample('D').mean()
train_features_df

,0,1,2,3,4,5,6,7,8,9,...,690,691,692,693,694,695,696,697,698,699
2013-01-01,5.9,17.52,12.75,4.30,2.88,6.6,7.20,19.32,16.56,4.92,...,6.0,1.1,1.0,3.9,19.2,9.0,27.5,4.1,48.4,33.1
2013-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-12-31,0.5,5.70,3.09,13.83,0.36,1.8,1.15,7.32,1.08,0.84,...,5.5,3.9,3.3,3.5,13.0,4.6,5.9,2.8,NaN,8.0

In [100]:
train_features_df = train_features_df.interpolate()
train_features_df

,0,1,2,3,4,5,6,7,8,9,...,690,691,692,693,694,695,696,697,698,699
2013-01-01,5.9,17.520000,12.750000,4.300000,2.880000,6.600000,7.200000,19.320000,16.560000,4.920000,...,6.000000,1.100000,1.000000,3.900000,19.200000,9.000000,27.500000,4.1,48.400000,33.100000
2013-01-02,5.9,17.522857,12.831429,4.317143,2.897143,6.788571,7.211429,19.320000,16.628571,5.022857,...,6.085714,1.114286,1.085714,3.957143,19.314286,9.171429,27.728571,4.1,49.414286,33.728571
2013-01-03,5.9,17.525714,12.912857,4.334286,2.914286,6.977143,7.222857,19.320000,16.697143,5.125714,...,6.171429,1.128571,1.171429,4.014286,19.428571,9.342857,27.957143,4.1,50.428571,34.357143
2013-01-04,5.9,17.528571,12.994286,4.351429,2.931429,7.165714,7.234286,19.320000,16.765714,5.228571,...,6.257143,1.142857,1.257143,4.071429,19.542857,9.514286,28.185714,4.1,51.442857,34.985714
2013-01-05,5.9,17.531429,13.075714,4.368571,2.948571,7.354286,7.245714,19.320000,16.834286,5.331429,...,6.342857,1.157143,1.342857,4.128571,19.657143,9.685714,28.414286,4.1,52.457143,35.614286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-27,0.5,4.660000,3.107143,13.252857,0.360000,1.457143,1.178571,6.771429,1.217143,0.840000,...,5.500000,3.900000,2.957143,3.442857,12.657143,4.714286,5.671429,2.8,59.800000,8.285714
2013-12-28,0.5,4.920000,3.102857,13.397143,0.360000,1.542857,1.171429,6.908571,1.182857,0.840000,...,5.500000,3.900000,3.042857,3.457143,12.742857,4.685714,5.728571,2.8,59.800000,8.214286
2013-12-29,0.5,5.180000,3.098571,13.541429,0.360000,1.628571,1.164286,7.045714,1.148571,0.840000,...,5.500000,3.900000,3.128571,3.471429,12.828571,4.657143,5.785714,2.8,59.800000,8.142857
2013-12-30,0.5,5.440000,3.094286,13.685714,0.360000,1.714286,1.157143,7.182857,1.114286,0.840000,...,5.500000,3.900000,3.214286,3.485714,12.914286,4.628571,5.842857,2.8,59.800000,8.071429
2013-12-31,0.5,5.700000,3.090000,13.830000,0.360000,1.800000,1.150000,7.320000,1.080000,0.840000,...,5.500000,3.900000,3.300000,3.500000,13.000000,4.600000,5.900000,2.8,59.800000,8.000000